{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if validLink %}
    Reset Password
  {% else %}
    Invalid Link
{% endif %}
{% endblock %}

{% block content %}
{% if validlink %}
  <h2>Enter your new password</h2>
  <form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Reset Password" class="btn btn-primary">
  </form>
{% else %}
<h2>Invalid Reset Link</h2>
<p>The password reset link was invalid, possibly because it has already been used or has expired</p>
<p></p>Please request a new password
<p class="mt-3">
  <a href="{% url 'password_reset' %}">Request New Reset Link</a>
</p>
  {% endif %} 
{% endblock %}
