<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>About Me</h1>
  <p>Courtney Swift is a U.S. military veteran and IT professional with a Bachelor of Science in Computer Networks and Cybersecurity. He holds CompTIA Security+, Network+, and CySA+ certifications and has experience in IT support, system administration, networking, and cybersecurity. He is also completing a Full-Stack Immersion program, expanding his skills in Python, JavaScript, React, SQL, Linux, and web development.
</p>
</body>
</html>