{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block title %}
    Contact
{% endblock %}

{% block content %}
    <h1 class="text-white">Contact Me</h1>
    <p class="text-white">Name: {{ name }} </p>
    <p class="text-white">Address: {{ address }} </p>
    <p class="text-white">email: {{ email }} </p>
    <p class="text-white">Open: 8:00AM to Close: 10:00PM. We can be reached at Phone: 123-456-2323. We are conveniently located at 1084 South Long Street, Tokyo, JP, 901-0112</p>
{% endblock %}

{% block js %}{% endblock %}