{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1 class="text-white">Home Page using DTL</h1>
    <p class="text-white">Name: {{ name }}</p>
    <p class="text-white">I have experience working remotely in a Network Operations Center, where I monitored enterprise networks, investigated technical issues, documented incidents, and coordinated escalations with other teams. Clear written communication, detailed ticket notes, regular status updates, and taking ownership of tasks have worked well for me, especially when coworkers are working different schedules or time zones. The main challenges have been delays in receiving responses and the lack of face-to-face communication, but I manage these by documenting my work carefully, asking clear questions, prioritizing tasks, and following up when necessary.
    </p>
    
<div class="photo">
    <img 
        class="img-fluid d-block mx-auto"
        width="500"
        src="{% static 'img/Luxury.jpg' %}"
        alt="Luxury Cars">
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}